extends layout

block content
 h1
  form(method="get", action="/routes/submit", id="")
   p
     Lorem Ipsum Lorem Ipsum
     br
     audio(controls='controls')
       source(src='ForrestGump.mp3', type='audio/mpeg')
        Your browser does not support the audio tag.
