extends layout

block content
	h1= title
	form(name='songOne', action='/playMusic', method='POST')
		
		p Song
		select(name='dropDownOne')
			option(value='thugz mansion') Thugz Mansion
		
		p Beat 1
		select(name='Beats1')
			option(value='4') Goat
			option(value='2') Kick
			option(value='1') Snare 
			option(value='0') Hihat 
			option(value='5') Inception 
			option(value='SodaCan') SodaCan

		p Beat 2
		select(name='Beats2')
			option(value='4') Goat
			option(value='2') Kick
			option(value='1') Snare 
			option(value='0') Hihat 
			option(value='5') Inception 
			option(value='SodaCan') SodaCanodaCan

		p Beats 3
		select(name='Beats3')
			option(value='4') Goat
			option(value='2') Kick
			option(value='1') Snare 
			option(value='0') Hihat 
			option(value='5') Inception 
			option(value='SodaCan') SodaCann

		p Beats 4
		select(name='Beats4')
			option(value='4') Goat
			option(value='2') Kick
			option(value='1') Snare 
			option(value='0') Hihat 
			option(value='5') Inception 
			option(value='SodaCan') SodaCan

		input(class='submitButton', type='submit', value='Submit')


