extends layout

block content
	h1= title
	form(name='songOne', action='/playMusic', method='POST')
		
		p Song
		select(name='dropDownOne')
			option(value='mansion.mp3') Thugz Mansion
		
		p Beats 1 and 5
		select(name='Beats1&5')
			option(value='Goat') Goat
			option(value='Kick') Kick
			option(value='Snare') Snare 
			option(value='Hihat') Hihat 
			option(value='Inception') Inception 
		
		p Beats 3 and 5
		select(name='Beats3&5')
			option(value='Goat_35') Goat
			option(value='Kick_35') Kick
			option(value='Snare_35') Snare 
			option(value='Hihat_35') Hihat 
			option(value='Inception_35') Inception
		
		p Eighth
		select(name='Eighth')
			option(value='Goat_8') Goat
			option(value='Kick_8') Kick
			option(value='Snare_8') Snare 
			option(value='Hihat_8') Hihat 
			option(value='Inception_8') Inception
	
		input(class='submitButton', type='submit', value='Submit')


