extends layout

block content
	h1= title
	form(name='songOne', action='/playMusic', method='POST')
		
		p Song
		select(name='dropDownOne')
			option(value='mansion.mp3') Thugz Mansion
		
		p Beat 1
		select(name='Beats1')
			option(value='Goat') Goat
			option(value='Kick') Kick
			option(value='Snare') Snare 
			option(value='Hihat') Hihat 
			option(value='Inception') Inception 

		p Beat 2
		select(name='Beats2')
			option(value='Goat') Goat
			option(value='Kick') Kick
			option(value='Snare') Snare 
			option(value='Hihat') Hihat 
			option(value='Inception') Inception 
		
		p Beats 3
		select(name='Beats3')
			option(value='Goat') Goat
			option(value='Kick') Kick
			option(value='Snare') Snare 
			option(value='Hihat') Hihat 
			option(value='Inception') Inception

		p Beats 4
		select(name='Beats4')
			option(value='Goat') Goat
			option(value='Kick') Kick
			option(value='Snare') Snare 
			option(value='Hihat') Hihat 
			option(value='Inception') Inception
	
		input(class='submitButton', type='submit', value='Submit')


