doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://bootswatch.com/superhero/bootstrap.css')
    script(src='http://code.jquery.com/jquery.js')
    script(src='/javascripts/web.js')
    script(src='/javascripts/bufferloader.js')

  body
    block content