head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title SC Player JS API
    meta(name='generator', content='TextMate http://macromates.com/')
    meta(name='author', content='Matas Petrikas')
  body
    h1 Simple player
    script(type='text/javascript', charset='utf-8', src='../soundcloud.player.api.js')
    script(type='text/javascript', charset='utf-8')

    object#yourPlayerId(height='81', width='100%', classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000')
      param(name='movie', value='http://www.youtube.com/watch?v=ZD3f3PZXmrQ')
      param(name='allowscriptaccess', value='always')
      embed(allowscriptaccess='always', height='81', src='http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Fmatas%2Fhobnotropic&enable_api=true&object_id=yourPlayerId', type='application/x-shockwave-flash', width='100%', name='yourPlayerId')
    pre.
              
              
